<style type='text/css'>
	.icon_up1,.icon_down1{ line-height: 12px; margin-left: 7px; padding-left: 10px;background: url("http://pic2.58.com/n/images/xiaoqu/new2011/t.gif") no-repeat scroll 0 0 transparent;display: inline-block;}
	.icon_up1{ background-position:-411px -197px;color:#f00;}
	.icon_down1{ background-position:-411px -232px;color:#028f2d;}
	
	.dpNav{position: relative;height:22px;width:100% }
	.dpNav ul,.dpNav_bottom{width: 100%;height:100%;position: absolute;bottom:0;}
	.dpNav ul{z-index: 3}
	.dpNav li{float:left;height:20px;line-height:20px;border:1px solid #F1F2F3;;cursor: pointer;
	    border-bottom-color:#E7E7E7;background: #FDFDFD;padding: 0 15px;font-size: 12px;}
	.dpNav li.select{border-color:#E7E7E7;border-bottom-color:#FFF;font-weight: bold;background: #fff;}
	.dpNav_bottom{height: 1px; z-index: 1;background: #E7E7E7;overflow: hidden;}
	.dyem-right{width:200px;   line-height: 16px; padding-top: 25px;}
	.dyem-left{width:480px;}
	.blockspan{display: inline-block;width:16px;height: 8px;vertical-align: middle;overflow:hidden;}
	.blockspan_blue{background: #56B9F9}
	.blockspan_red{background: #FF0000}
	.blockspan_green{background: #009900}
	.dynamicDiv{display: none;}
	.dynamicInfo,.assessInfo,.fangyuanInfo {overflow: hidden;}
	@media screen and (-webkit-min-device-pixel-ratio:0){.peitaoInfo,.dynamicInfo,.assessInfo,.fangyuanInfo{padding-left: 1px}}
</style>

<div class="fl dyem-left" id="dyemb_0"><!--要联网，才能做出图-->
	<embed type="application/x-shockwave-flash" src="http://pic2.58.com/js/dict/fusionchart/msline.swf?ChartNoDataText=当前查询结果为空&amp;PBarLoadingText=正在加载图表,请稍候&amp;XMLLoadingText=正在检索数据,请稍候&amp;ParsingDataText=正在读取数据,请稍候&amp;RenderingChartText=正在渲染图表,请稍候&amp;LoadDataErrorText=加载数据失败&amp;InvalidXMLText=正在获取数据,请稍候" width="480px" height="170px" id="dyemb_0" name="dyemb_0" quality="high" allowscriptaccess="always" wmode="transparent" flashvars="chartWidth=480px&amp;chartHeight=170px&amp;debugMode=0&amp;DOMId=dyemb_0&amp;registerWithJS=0&amp;scaleMode=noScale&amp;lang=EN&amp;dataXML=<graph showvalues='0' yAxisMinValue='2520' yAxisMaxValue='60000' canvasBgAlpha='10' hoverCapBgColor='#ebf6f8' baseFontSize='12' outCnvBaseFontSize='10' numdivlines='4' numVdivlines='4' formatNumberScale='0'  decimalPrecision='0'  divLineColor='CCCCCC' divLineAlpha='20' showBorder='0' bgColor='FFFFFF' canvasBorderColor='CCCCCC' canvasBorderThickness='1' canvasBorderAlpha='50'  alternateHGridAlpha='5'   alternateVGridColor='f8f8f8'  alternateVGridAlpha='100' legendBorderColor='FFFFFF' legendShadow='0'>
	<categories font='Arial'  fontSize='11' fontColor='000000'>
		<category name='3月' />
		<category name='4月' />
		<category name='5月' />
		<category name='6月' />
		<category name='7月' />
		<category name='8月' />
	</categories>
	
	<dataset color='ff0000' >
		<set value='28834.0' hoverText='3月{br}28834.0元/㎡'/>
		<set value='51469.0' hoverText='4月{br}51669.0元/㎡'/>
		<set value='51469.0' hoverText='5月{br}51769.0元/㎡'/>
		<set value='51469.0' hoverText='6月{br}51489.0元/㎡'/>
		<set value='51469.0' hoverText='7月{br}51499.0元/㎡'/>
		<set value='51469.0' hoverText='8月{br}51569.0元/㎡'/>
		<set value='' hoverText='8月{br}元/㎡'/>
	</dataset>
	
	<dataset color='56B9F9' >
		<set value='45859.76' hoverText='3月{br}45859.76元/㎡'/>
		<set value='49262.17' hoverText='4月{br}49262.17元/㎡'/>
		<set value='50475.04' hoverText='5月{br}50475.04元/㎡'/>
		<set value='50462.47' hoverText='6月{br}50462.47元/㎡'/>
		<set value='49771.21' hoverText='7月{br}49771.21元/㎡'/>
		<set value='49771.21' hoverText='8月{br}49871.21元/㎡'/>
		<set value='' hoverText='8月{br}元/㎡'/>
	</dataset>
	</graph>">
</div>

<div class="fr dyem-right">
    2014年8月均价：<span class="red">51469</span>元/㎡
      <p class="mt5 ">同比上月<span class="icon_up1">0.2%</span></p>
      <p class="mt5 " ><span style="background-color:blue;" class="blockspan blockspan_blue"></span>&nbsp; 板块均价</p>
      <p class="mt5 "><span class="blockspan blockspan_red"></span>&nbsp; 邮电大学留学生公寓</p>
    <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
</div>