	<ul style="margin:0 auto;width:480px;height:360px;background:#668;list-style-type:none;overflow:hidden; ">
		<li style="width:480px;height:360px;"><a  name="pics1"><img style="padding:40px 0 0 40px;" src="../images/pics1.jpg" alt="pics1" /></a></li>
		<li style="width:480px;height:360px;"><a  name="pics2"><img style="padding:40px 0 0 40px;" src="../images/pics2.jpg" alt="pics2" /></a></li>
		<li style="width:480px;height:360px;"><a  name="pics3"><img style="padding:40px 0 0 40px;" src="../images/pics3.jpg" alt="pics3" /></a></li>
	</ul>
	
	<p style="padding:40px 0 0 40px;">
		<a href="#pics1"><img style="border:1px solid black;" src="../images/p1.jpg" alt="p1"></a>
		<a href="#pics2"><img style="border:1px solid black;" src="../images/p2.jpg" alt="p2"></a>
		<a href="#pics3"><img style="border:1px solid black;" src="../images/p3.jpg" alt="p3"></a>
	</p>