
<form method='post' action='/upload' enctype='multipart/form-data' >  
  <input type="file" name="file1" multiple="multiple" /><br>  
  <!--<input type="file" name="file2" multiple="multiple" /><br>  
  <input type="file" name="file3" multiple="multiple" /><br>  
  <input type="file" name="file4" multiple="multiple" /><br>  
  <input type="file" name="file5" multiple="multiple" /><br> --> 
  <input type="submit" /> 
</form>  
